name: Upload conda packages
on:
  workflow_run:
    workflows:
      - Build conda package
    branches:
      - '**'
    types:
      - completed

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: |
          echo "Build passing"
          exit 0

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: |
          echo "Build failing"
          exit 1
